.titulo {
    background: #6F7D7E;
    text-align: center;
    color: aliceblue;
    color: #FFFAFA;
    font-family: Inria Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
}