<div class="principalCard">
<h2>{{ hero.name | uppercase }} Details</h2>

<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div><span>power: </span>{{hero.power}}</div>
<div><span>superPower: </span>{{hero.superPower}}</div>
<div><span>color: </span>{{hero.color}}</div>


<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
</div>

<h2 class="centroHeroes">My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
    <button type="button">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
    </button>
    </li>
</ul>

<!-- Tabla -->

<table class="table table-striped">
<thead>

    <tr>
        <th class="table-light" scope="col">id</th>
        <th class="table-light" scope="col">Name</th>
        <th class="table-light" scope="col">power</th>
        <th class="table-light" scope="col">superPower</th>
        <th class="table-light" scope="col">color</th>
    </tr>

</thead>

<tbody>
    <tr *ngFor="let hero of heroes">
        <th scope="row">{{ hero.id }}</th>
        <td>{{ hero.name }}</td>
        <td>{{ hero.power }}</td>
        <td>{{ hero.superPower }}</td>
        <td>{{ hero.color }}</td>
    </tr>
</tbody>
</table>

<!-- Cards de implementación -->


<div class="container text-center">
    <div class="row">
        <div class="col" *ngFor="let hero of heroes">
            <div class="card" style="width: 18rem;">
                <img [src]="hero.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ hero.id }}</h5>
                        <h5 class="card-title">{{ hero.name }}</h5>
                        <h5 class="card-title">{{ hero.power }}</h5>
                        <h5 class="card-title">{{ hero.superPower }}</h5>
                        <h5 class="card-title">{{ hero.color }}</h5>
                    </div>
            </div>
        </div>
    </div>
</div>
