<div class="principalCard">
<h2>{{ hero.name | uppercase }} Details</h2>

<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div><span>power: </span>{{hero.power}}</div>
<div><span>superPower: </span>{{hero.superPower}}</div>
<div><span>color: </span>{{hero.color}}</div>


<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
</div>

<h2 class="centroHeroes">My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
    <button type="button">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
    </button>
    </li>
</ul>